$text-bold-color: #202435;
$text-sm-color: #3e445a;
$text-footer-color: #71778e;
$text-selected-color: #233a95;
$blue-button: #2bbef9;
$success-color: #00b853;
$color-price: #d51243;
$color-info: #c2c2d3;
$color-border: #e4e5ee;
$color-rating: #ffcd00;
